
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono&display=swap');
@import url('https://coolors.co/palette/2f4858-33658a-86bbd8-f6ae2d-f26419');

body {
    font-family: "Roboto Mono", "Helvetica", sans-serif;
    font-size: large;
}

#header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #33658a;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #33658a;
    font-size: large;
    text-decoration: none;
}

#logo_link {
    justify-self: center;
    align-self: center;
}

.logo {
    max-width: 100%;
    height: auto;
    padding-top: 5px;
}

nav a {
    color: white;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #F6AE2D;
}

.siteplan{
    color: white;
    margin-top: 15px;
}

/* home content */

.myself {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.welcome {
    display: block;
    text-align: center;
    padding: 50px;
    
}


.intro{
    display: grid;
    grid-template-columns: 300px 1500px;
    text-align: left;
    align-items: center;
}

.introduce {
    text-align: justify;
    padding: 80px;
    margin-left: 100px;
}

.me{
    float: left;
    width: 400px;
    height: auto;
    padding: 50px;
}


.finish_intro {
    display: grid;
    text-align: center;
    padding: 50px;
}
/*overlay*/

.container {
    position: relative;
    display: inline-block;
}
  
  .overlay {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 470px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(32, 29, 47, 0.9);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*overlay professional jorney*/

.container_pro {
    position: relative;
    display: inline-block;
}

.overlay_pro {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 409px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color:  rgba(32, 29, 47, 0.595);
}
  
.container_pro:hover .overlay_pro {
    opacity: 1;
}

.text_pro {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container_p {
    position: relative;
    display: inline-block;
}

.overlay_p {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 414px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(32, 29, 47, 0.618);
}
  
.container_p:hover .overlay_p {
    opacity: 1;
}

.text_p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #33658a;
    padding: 10px;
    color: white;
}
  
footer p {
    text-align: left;
}
  
footer a {
    margin-right: 10px;
    align-items: right;
}
  
#social {
    display: block;

}
  
#social img {
    width: 50px;
    height: auto;
}


/* professional journey */

.jobs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;
    gap: 10px;

}

.group{
    width: 600px;
    float: right;
}
   
.mission {
    display: grid;
    grid-template-columns: 1200px 600px; 
    padding: 50px;
    align-items: center;
}

.Samsung {
    padding: 50px;
    text-align: center;
}

.cimed {
    display: grid;
    grid-template-columns: 1200px 600px;  
    padding:50px; 
    align-items: center;
}

.marrocos {
    width: 600px;
}


/* education */
 
.byu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.tech{
    display: grid;
    grid-template-rows: 500px;
    padding: 50px;
    align-items: center;
}

.byuima {
    float: right;
    width: 300px;
    padding: 50px;
    margin-right: 70px;
    margin-top: 100px;
    align-items: center;
}

.Thanks{
    display: grid;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.Thanks h2 {
    font-size: 40px;
}